<div class="row ms-4" *ngIf="gig">
    <!-- <div>
      <form action="updateGig">
        <label for="datePlayed">Date: </label>
        <input type="date" id="datePlayed" name="datePlayed">
        <input type="submit" value="Update">
      </form>
    </div> -->


    <h3>{{gig.date | date}}</h3>
    <div>
        <h4>Payables</h4>
        <div class="d-flex justify-content-start align-items-center pb-2">
          <div class="mt-2 paid">
            <b>Paid: </b>{{this.totalPaid | currency}}
          </div>

          <div class="ms-4 mt-2 unpaid">
            <b>Unpaid: </b>{{this.totalUnpaid | currency}}
          </div>
        </div>
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount Due</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Date Paid</th>
                <th scope="col">Method</th>
                <th scope="col">Notes</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payable of payables">
                <td>{{payable.entity}}</td>
                <td>{{payable.amountDue | currency}}</td>
                <td>{{payable.amountPaid | currency}}</td>
                <td *ngIf="payable.datePaid > minDate">{{payable.datePaid | date}}</td>
                <td *ngIf="payable.datePaid <= minDate"></td>
                <td>{{payable.method}}</td>
                <td>{{payable.notes}}</td>
                <td>
                  <div class="btn-group">
                    <button routerLink="/payables/{{payable.id}}" type="button" class="btn btn-sm btn-primary me-2">Edit</button>
                    <button type="button" class="btn btn-sm btn-primary">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center" *ngIf="this.totalPayableCount > 0">
            <app-pager
                [pageSize]="payableParams.pageSize"
                [totalCount]="totalPayableCount"
                (pageChanged)="onPayablePageChanged($event)">
            </app-pager>
        </div>
    </div>

    <div>
        <h4>Receivables</h4>
        <div class="d-flex justify-content-start align-items-center pb-2">
          <div class="mt-2 paid">
            <b>Received: </b>{{this.totalReceived | currency}}
          </div>

          <div class="ms-4 mt-2 unpaid">
            <b>Pending: </b>{{this.totalUnreceived | currency}}
          </div>
        </div>
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Company</th>
                <th scope="col">Invoice No.</th>
                <th scope="col">Amount Due</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Date Paid</th>
                <th scope="col">Method</th>
                <th scope="col">Notes</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let receivable of receivables">
                <td>{{receivable.entity}}</td>
                <td>{{receivable.invoiceNumber}}</td>
                <td>{{receivable.amountDue | currency}}</td>
                <td>{{receivable.amountPaid | currency}}</td>
                <td *ngIf="receivable.dateReceived > minDate">{{receivable.dateReceived | date}}</td>
                <td *ngIf="receivable.dateReceived <= minDate"></td>
                <td>{{receivable.method}}</td>
                <td>{{receivable.notes}}</td>
                <td>
                  <div class="btn-group">
                    <button routerLink="/receivables/{{receivable.id}}" type="button" class="btn btn-sm btn-primary me-2">Edit</button>
                    <button type="button" class="btn btn-sm btn-primary">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center" *ngIf="this.totalReceivableCount > 0">
            <app-pager
                [pageSize]="receivableParams.pageSize"
                [totalCount]="totalReceivableCount"
                (pageChanged)="onReceivablePageChanged($event)">
            </app-pager>
        </div>
    </div>
</div>

