<carousel>
    <slide>
        <img src="assets/images/truNorthStudio1.jpeg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/truNorthStudio2.jpeg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/truNorthStudio3.jpeg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center mt-5">
        <h1>Welcome to Tru North Accounting!</h1>
    </div>
</section>
